@using CRM.UI.Utils.ViewUtils
@model CRM.UI.Models.DealViewModel

<div>
    <partial name="ServiceRequestPartial" model="4" />

    @* /////////////////////////// files /////////////////////////////////////////// *@
    <div id="all-files-6" class="modal">
        <div class="modal-dialog animated" style="max-width:60% !important">
            <div class="modal-content" style="overflow: scroll;">

                <div class="modal-header">
                    <strong>Список файлов</strong>
                </div>

                <div class="row" id="files-content-6" style="padding:15px; align-items:center; justify-content: center;">

                </div>

                <div class="modal-footer">
                    <button class="btn btn-default" id="close" type="button" onclick="modal.close()">Закрыть</button>
                </div>


            </div>

        </div>
    </div>

    @* ////////////////////////////////////////////////////////////////////// *@



    <div class="row">
        <div class="col">
            <div class="row col">
                <div class="form-inline col-auto">
                    <label for="hint-contract-works-probability" style="margin-right:1rem;">Вероятность  </label>
                    <input type="text" value="100%" class="form-control"
                           style="width:25%;"
                           id="hint-contract-works-probability" readonly />
                </div>

                <div class="form-inline col-auto status">

                    <label for="hint-contract-works-status" style="margin-right:1rem;">Статус сделки </label>


                    <input type="text" value="Активная" class="form-control deal-status"
                           id="hint-contract-works-status" readonly />
                </div>

                @if (Model != null && Model.IsClosed && Model.ClosureDate.HasValue)
                {
                    <div class="form-inline col-auto">
                        <label style="margin-right: 1rem;">Дата закрытия сделки</label>
                        <input readonly class="form-control" type="text" value="@(Model?.ClosureDate.GetValueOrDefault().ToShortDateString())" />
                    </div>
                }

                <div class="form-inline row col-auto put-off-and-close @(Model?.StepName == "Работа по контракту" ? "" : "d-none")">
                    <div class="col-auto">
                        <input id="put-off-deal" type="button" onclick="modalPutOff.open()" class="btn btn-primary put-off-deal" value="Отложить сделку">
                    </div>
                    <div class="">
                        <input onclick="acceptToCloseDeal()" type="button" style="display: none;" class="btn btn-primary accept-closing-deal" value="Согласовать закрытие сделки">
                    </div>
                    <div class="">
                        <input id="submit" onclick="reopenDeal()" type="button" style="display: none;" class="btn btn-primary reopen-deal" value="Возобновить сделку">
                    </div>
                    <div class="col">
                        <input type="button" onclick="modalFinishDeal.open();" class="btn btn-primary finish-deal" value="Потеря сделки">
                    </div>
                </div>
            </div>

            <fieldset class="tasks">
                <legend>Задачи текущего этапа</legend>
                <div class="row">
                    <div class="col-md-6 col-xl-3">
                        <div class="form-group row @(Model?.IsDvs == true ? "" : "required")">
                            <div class="col-2">
                                <label class="switch switch-3d switch-primary">
                                    <input id="hint-contract-works-step-supply-monitoring" @(Model?.IsDvs == true ? "" : "required")
                                           type="checkbox" class="switch-input" />
                                    <span class="switch-label"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                            <div class="col">
                                <label for="hint-contract-works-step-supply-monitoring">
                                    Мониторинг<wbr /> поставки/выполнения<wbr /> работ
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-3">
                        <div class="form-group row @(Model?.IsDvs == true ? "" : "required")">
                            <div class="col-2">
                                <label class="switch switch-3d switch-primary">
                                    <input id="hint-contract-works-step-payment-control" @(Model?.IsDvs == true ? "" : "required")
                                           type="checkbox" class="switch-input" />
                                    <span class="switch-label"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                            <div class="col">
                                <label for="hint-contract-works-step-payment-control">
                                    Проконтролировать<wbr /> оплату
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-3">
                        <div class="form-group row @(Model?.IsDvs == true ? "" : "required")">
                            <div class="col-2">
                                <label class="switch switch-3d switch-primary">
                                    <input id="hint-contract-works-step-pass-docs-to-accounting" @(Model?.IsDvs == true ? "" : "required")
                                           type="checkbox" class="switch-input" />
                                    <span class="switch-label"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                            <div class="col">
                                <label title="Передать в бухгалтерию все финансовые и бухгалтерские документы согласно договору (оригинал договора, акты, накладные и т.д.)"
                                       for="hint-contract-works-step-pass-docs-to-accounting">
                                    Передать<wbr /> документы<wbr /> в<wbr /> бухгалтерию
                                </label>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row">

                    <div class="col-md-6 col-xl-3">
                        <div class="form-group row">
                            <div class="col-2">
                                <label class="switch switch-3d switch-primary">
                                    <input id="hint-contract-works-step-internal-project-reference"
                                           type="checkbox" class="switch-input" />
                                    <span class="switch-label"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                            <div class="col">
                                <label title="Для крупных проектов ответственный за сделку подготавливает внутренний референс проекта"
                                       for="hint-contract-works-step-internal-project-reference">
                                    Подготовить<wbr /> внутренний<wbr /> референс<wbr /> проекта
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-3">
                        <div class="form-group row">
                            <div class="col-2">
                                <label class="switch switch-3d switch-primary">
                                    <input id="hint-contract-works-step-discuss-project"
                                           type="checkbox" class="switch-input" />
                                    <span class="switch-label"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                            <div class="col">
                                <label title="Провести очное/заочное обсуждение проекта с участием руководителей подразделений –
                                           участников проекта, членов совета директоров (при необходимости)"
                                       for="hint-contract-works-step-discuss-project">
                                    Провести<wbr /> брифинг
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <div class="form-group required">
                <label for="hint-contract-works-step-expert-margin">Экспертная маржа</label>
                <input id="hint-contract-works-step-expert-margin" required onclick="this.select();"
                       onkeydown="Auto(this)"
                       class="form-control" />
            </div>
        </div>
        <div class="col-3">
        </div>
        <div class="col">
            <div id="services-request" style="display:@(DealViewFunctions.GetStepNumber(Model?.StepName) > 5 ? "block" : "none")">
                <fieldset>
                    <legend>Заявка на услуги</legend>

                    <div class="row" style="justify-content:space-around;">
                        <a href="#" id="showModal" onclick="getServicesModal('4');" 
                           style="display:@(DealViewFunctions.GetCssVisibleClassesForCurrentStep("Работа по контракту", Model?.StepName, Model?.DealStatusName))"
                           class="btn btn-primary">Создать заявку</a>
                        <a class="btn view-service-deals-btn btn-primary @(Model?.ServiceRequestIds.Count > 0 ? "" : "d-none")" href="/Deals/ServicesRequests/@ViewBag.DealId" target="_blank">Просмотреть заявки</a>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <legend>
                    <input type="button" onclick="GetAllFiles(6)" class="btn btn-primary file-window" value="Прикрепленные файлы" />
                </legend>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label title="Сканы закрывающих документов подписанных клиентом (акты, накладные, счета-фактуры и т.д.)"
                                   for="works-file-acts-scans" class="small">
                                Сканы подписанных документов
                                <a href="#"
                                   class="popover-cloud"
                                   data-toggle="popover"
                                   data-placement="top" title="Ссылка на Hostco cloud"
                                   data-trigger="click"
                                   data-html="true"
                                   data-popover-content="#works-file-acts-scans-cloud-popover">
                                    <i class="fa fa-cloud-upload fa-lg" aria-hidden="true"></i>
                                </a>
                            </label>
                            <div id="works-file-acts-scans-cloud-popover" class="cloud-link-block" style="display:none">
                                <div class="row">
                                    <div class="col-9">
                                        <input onchange="checkСloudLink(this);" onclick="this.select();"
                                               id="works-file-acts-scans-cloud"
                                               title="Тут должна быть ссылка на облако"
                                               class="form-control" />
                                    </div>
                                    <div class="col-3 pl-0 d-flex align-middle">
                                        <a class="btn btn-primary btn-sm btn-block h-100 save-cloud-link">
                                            <i class="fa fa-check fa-2x text-white" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <form style="display: inline-block" class="dropzone" id="works-file-acts-scans">
                                <input type="button" class="btn dz-default dz-message upload-btn" value="Загрузить файл" />
                            </form>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for="works-file-project-reference" class="small">Заполненный референс </label>
                            <br />
                            <form style="display: inline-block" class="dropzone" id="works-file-project-reference">
                                <input type="button" class="btn dz-default dz-message upload-btn" value="Загрузить файл" />
                            </form>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for="additional-files" class="small" title="Дополнительные файлы">
                                Дополнительные файлы
                                <a href="#"
                                   class="popover-cloud"
                                   data-toggle="popover"
                                   data-placement="top" title="Ссылка на Hostco cloud"
                                   data-trigger="click"
                                   data-html="true"
                                   data-popover-content="#additional-files-works-cloud-popover">
                                    <i class="fa fa-cloud-upload fa-lg" aria-hidden="true"></i>
                                </a>
                            </label>
                            <div id="additional-files-works-cloud-popover" class="cloud-link-block" style="display:none">
                                <div class="row">
                                    <div class="col-9">
                                        <input onchange="checkСloudLink(this);" onclick="this.select();"
                                               id="additional-files-works-cloud"
                                               title="Тут должна быть ссылка на облако"
                                               class="form-control" />
                                    </div>
                                    <div class="col-3 pl-0 d-flex align-middle">
                                        <a class="btn btn-primary btn-sm btn-block h-100 save-cloud-link">
                                            <i class="fa fa-check fa-2x text-white" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <form style="display: inline-block" class="dropzone additional-files d-inline">
                                <input type="button" class="btn dz-default dz-message d-inline upload-btn" value="Загрузить файл" />
                            </form>
                        </div>
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
</div>