
@using CRM.UI.Utils.ViewUtils
@model CRM.UI.Models.DealViewModel

<div>
    @* /////////////////////////// files /////////////////////////////////////////// *@
    <div id="all-files-4" class="modal">
        <div class="modal-dialog animated" style="max-width:60% !important">
            <div class="modal-content" style="overflow: scroll;">

                <div class="modal-header">
                    <strong>Список файлов</strong>
                </div>

                <div class="row" id="files-content-4" style="padding:15px; align-items:center; justify-content: center;">

                </div>

                <div class="modal-footer">
                    <button class="btn btn-default" id="close" type="button" onclick="modal.close()">Закрыть</button>
                </div>


            </div>

        </div>
    </div>

    @* ////////////////////////////////////////////////////////////////////// *@

<div class="row">
        <div class="col">
            <div class="row col">
                <div class="form-inline col-auto">
                    <label for="hint-contest-step-probability" style="margin-right:1rem;">Вероятность  </label>
                    <input type="text" value="60%" class="form-control"
                           style="width:25%;"
                           id="hint-contest-step-probability" readonly />
                </div>

                <div class="form-inline col-auto" style="white-space:nowrap;">
                    <label for="hint-contest-step-is-probable" style="white-space:nowrap; margin-right:1rem;">Вероятная сделка</label>
                    <select class="form-control is-probable" id="hint-contest-step-is-probable" style="width:11em;">
                        @*<option value="s1">Маловероятная</option>
                <option selected>Вероятная</option>
                <option value="s3">Подписанная</option>*@
                    </select>
                </div>

                <div class="form-inline col-auto status">

                    <label for="hint-contest-status" style="margin-right:1rem;">Статус сделки </label>


                    <input type="text" value="" class="form-control deal-status"
                           id="hint-contest-status" readonly />
                </div>

                @if (Model != null && Model.IsClosed && Model.ClosureDate.HasValue)
                {
                    <div class="form-inline col-auto">
                        <label style="margin-right: 1rem;">Дата закрытия сделки</label>
                        <input readonly class="form-control" type="text" value="@(Model?.ClosureDate.GetValueOrDefault().ToShortDateString())" />
                    </div>
                }

                <div class="form-inline row col-auto put-off-and-close @(Model?.StepName == "Конкурсная процедура" ? "" : "d-none")">
                    <div class="col-auto">
                        <input id="put-off-deal" type="button" onclick="modalPutOff.open()" class="btn btn-primary put-off-deal" value="Отложить сделку">
                    </div>
                    <div class="">
                        <input onclick="acceptToCloseDeal()" type="button" style="display: none;" class="btn btn-primary accept-closing-deal" value="Согласовать закрытие сделки">
                    </div>
                    <div class="">
                        <input id="submit" onclick="reopenDeal()" type="button" style="display: none;" class="btn btn-primary reopen-deal" value="Возобновить сделку">
                    </div>
                    <div class="col">
                        <input type="button" onclick="modalFinishDeal.open();" class="btn btn-primary finish-deal" value="Потеря сделки">
                    </div>
                </div>
            </div>

            <fieldset class="tasks">
                <legend>Задачи текущего этапа</legend>
                <div class="row">
                    <div class="col-md-6 col-xl-3">
                        <div class="form-group row @(Model?.IsDvs == true ? "" : "required")">
                            <div class="col-2">
                                <label class="switch switch-3d switch-primary">
                                    <input id="hint-contest-step-get-contest-docs" @(Model?.IsDvs == true ? "" : "required")
                                           type="checkbox" class="switch-input" />
                                    <span class="switch-label"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                            <div class="col">
                                <label for="hint-contest-step-get-contest-docs">
                                    Получить<wbr /> конкурсную<wbr /> документацию
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-3">
                        <div class="form-group row @(Model?.IsDvs == true ? "" : "required")">
                            <div class="col-2">
                                <label class="switch switch-3d switch-primary">
                                    <input id="hint-contest-step-notify-host-team" @(Model?.IsDvs == true ? "" : "required")
                                           type="checkbox" class="switch-input" />
                                    <span class="switch-label"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                            <div class="col">
                                <label for="hint-contest-step-notify-host-team">
                                    Уведомить<wbr /> команду<wbr /> ГК<wbr /> ХОСТ
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-3">
                        <div class="form-group row @(Model?.IsDvs == true ? "" : "required")">
                            <div class="col-2">
                                <label class="switch switch-3d switch-primary">
                                    <input id="hint-contest-step-notify-vendors-team" @(Model?.IsDvs == true ? "" : "required")
                                           type="checkbox" class="switch-input" />
                                    <span class="switch-label"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                            <div class="col">
                                <label for="hint-contest-step-notify-vendors-team">
                                    Уведомить<wbr /> команду<wbr /> вендора
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-3">
                        <div class="form-group row @(Model?.IsDvs == true ? "" : "required")">
                            <div class="col-2">
                                <label class="switch switch-3d switch-primary">
                                    <input id="hint-contest-step-get-special-prices" @(Model?.IsDvs == true ? "" : "required")
                                           type="checkbox" class="switch-input" />
                                    <span class="switch-label"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                            <div class="col">
                                <label for="hint-contest-step-get-special-prices">
                                    Получить<wbr /> специальные<wbr /> цены
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-xl-3">
                        <div class="form-group row @(Model?.IsDvs == true ? "" : "required")">
                            <div class="col-2">
                                <label class="switch switch-3d switch-primary">
                                    <input id="hint-contest-step-supply-conditions" @(Model?.IsDvs == true ? "" : "required")
                                           type="checkbox" class="switch-input" />
                                    <span class="switch-label"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                            <div class="col">
                                <label title="Поставки/штрафы/оплаты"
                                       for="hint-contest-step-supply-conditions">
                                    Учесть<wbr /> условия<wbr /> конкурса
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-3">
                        <div class="form-group row">
                            <div class="col-2">
                                <label class="switch switch-3d switch-primary">
                                    <input id="hint-contest-step-competitors-offers-worked-through"
                                           type="checkbox" class="switch-input" />
                                    <span class="switch-label"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                            <div class="col">
                                <label for="hint-contest-step-competitors-offers-worked-through">
                                    Проработать<wbr /> предложения<wbr /> конкурентов
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-3">
                        <div class="form-group row @(Model?.IsDvs == true ? "" : "required")">
                            <div class="col-2">
                                <label class="switch switch-3d switch-primary">
                                    <input id="hint-contest-step-layout-with-risks" @(Model?.IsDvs == true ? "" : "required")
                                           type="checkbox" class="switch-input" />
                                    <span class="switch-label"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                            <div class="col">
                                <label title="Подключить ответственных лиц вендора"
                                       for="hint-contest-step-layout-with-risks">
                                    Подготовить<wbr /> раскладку<wbr /> с<wbr /> учетом<wbr /> рисков
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-3">
                        <div class="form-group row @(Model?.IsDvs == true ? "" : "required")">
                            <div class="col-2">
                                <label class="switch switch-3d switch-primary">
                                    <input id="hint-contest-step-contest-claim" @(Model?.IsDvs == true ? "" : "required")
                                           type="checkbox" class="switch-input" />
                                    <span class="switch-label"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                            <div class="col">
                                <label style="text-wrap: avoid"
                                       for="hint-contest-step-contest-claim">
                                    Подготовить<wbr /> и согласовать
                                    <br />
                                    конкурсную заявку и<wbr /> проект договора
                                </label>
                            </div>


                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="row">
        <div class="col">

            <div class="form-group required">
                <label for="hint-contest-step-signing-date">Дата подписания контракта</label>
                <input type="text" class="datepicker-here form-control" placeholder="дд.мм.гггг" required
                       id="hint-contest-step-signing-date" style="width:100%; height:2.5em;" />
            </div>

            <div class="form-group required">
                <label for="hint-contest-step-closing-date">Дата закрытия контракта</label>
                <input type="text" class="datepicker-here form-control" placeholder="дд.мм.гггг" required
                       id="hint-contest-step-closing-date" style="width:100%; height:2.5em;" />
            </div>

            <div class="form-group required">
                <label for="hint-contest-step-procurement-procedure-results-date">Дата итогов закупочной процедуры</label>
                <input type="text" id="hint-contest-step-procurement-procedure-results-date" required
                       class="datepicker-here form-control" placeholder="дд.мм.гггг" style="width:100%; height:2.5em;" />
            </div>
        </div>

        <div class="col">
            <div class="form-group required">
                <label for="hint-contest-step-selection-procedure">Конкурсная процедура</label>
                <br />
                <select style="width:100%; height:2.5em;" id="hint-contest-step-selection-procedure" required
                        class="form-control">
                    @*	<option value="" selected disabled>Не выбрано</option>*@
                </select>
            </div>

            <div class="form-group">
                <label for="hint-contest-step-competitors">Конкуренты</label>
                <input class="form-control" id="hint-contest-step-competitors" />
            </div>

            <div class="form-group required">
                <label for="hint-contest-step-people-of-interest">Заинтересованные лица</label>
                <br />
                <select style="width:100%; height:2.5em;" id="hint-contest-step-people-of-interest" multiple="multiple" required
                        class="form-control">
                    @*	<option value="" selected disabled>Не выбрано</option>*@
                </select>
            </div>
        </div>

        <div class="col">

            <div class="form-group required">
                <label for="hint-contest-step-expert-margin">Экспертная маржа</label>
                <input style="width:100%;" onkeydown="Auto(this)" required onclick="this.select();"
                       id="hint-contest-step-expert-margin" class="form-control" />
            </div>

            <div class="form-group required">
                <label title="Маржа"
                       for="hint-contest-step-estimated-margin">Предполагаемая маржа</label>
                <input onkeydown="Auto(this)" required onclick="this.select();"
                       id="hint-contest-step-estimated-margin"
                       class="form-control" />
            </div>

            <div class="form-group required">
                <label title="Бюджет"
                       for="hint-contest-step-estimated-budget">Предполагаемый бюджет</label>
                <input onkeydown="Auto(this)" required onclick="this.select();"
                       id="hint-contest-step-estimated-budget"
                       class="form-control" />
            </div>
        </div>
        
        <div class="col">
            <div id="request-contest" style="display:@(DealViewFunctions.GetStepNumber(Model?.StepName) > 3 ? "block" : "none")">
                <fieldset>
                    <legend>Заявка на продуктирование</legend>

                    <div class="row" style="justify-content:space-around;">
                        <a href="#" id="showModal" onclick="getModal();" 
                           style="display:@(DealViewFunctions.GetCssVisibleClassesForCurrentStep("Конкурсная процедура", Model?.StepName, Model?.DealStatusName))"
                           class="btn btn-primary">Создать заявку</a>
                        <a class="btn view-product-deals-btn btn-primary @(Model?.ProductRequestIds.Count > 0 ? "" : "d-none")" href="/Deals/ProductRequests/@ViewBag.DealId" target="_blank">Просмотреть заявки</a>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <legend>
                    <input type="button" onclick="GetAllFiles(4)" class="btn btn-primary file-window" value="Прикрепленные файлы" />
                </legend>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group @(Model?.SelectionProcedureName == "Неформализованная процедура" || Model?.IsDvs == true ? "" : "required")">
                            <label title="От клиента/с площадки" for="contest-file-tz" class="small">ТЗ на конкурс</label>
                            <br />
                            <form style="display: inline-block" class="dropzone" id="contest-file-tz">
                                <input type="button" class="btn dz-default dz-message upload-btn" value="Загрузить файл" @(Model?.SelectionProcedureName == "Неформализованная процедура" || Model?.IsDvs == true ? "" : "required") />
                            </form>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group @(Model?.SelectionProcedureName == "Неформализованная процедура" || Model?.IsDvs == true ? "" : "required")">
                            <label title="От клиента/с площадки"
                                   for="contest-file-contest-documentation" data-file-count="0" class="small">
                                Конкурсная документация
                                <a href="#"
                                   class="popover-cloud"
                                   data-toggle="popover"
                                   data-placement="top" title="Ссылка на Hostco cloud"
                                   data-trigger="click"
                                   data-html="true"
                                   data-popover-content="#contest-file-contest-documentation-cloud-popover">
                                    <i class="fa fa-cloud-upload fa-lg" aria-hidden="true"></i>
                                </a>
                            </label>
                            <div id="contest-file-contest-documentation-cloud-popover" class="cloud-link-block" style="display:none">
                                <div class="row">
                                    <div class="col-9">
                                        <input onchange="checkСloudLink(this);" onclick="this.select();"
                                               id="contest-file-contest-documentation-cloud"
                                               title="Тут должна быть ссылка на облако"
                                               class="form-control" />
                                    </div>
                                    <div class="col-3 pl-0 d-flex align-middle">
                                        <a class="btn btn-primary btn-sm btn-block h-100 save-cloud-link">
                                            <i class="fa fa-check fa-2x text-white" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <form style="display: inline-block" class="dropzone multiple-files" id="contest-file-contest-documentation">
                                <input type="button" class="btn dz-default dz-message upload-btn" value="Загрузить файл" @(Model?.SelectionProcedureName == "Неформализованная процедура" || Model?.IsDvs == true ? "" : "required") />
                            </form>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label title="Спецификация, синхронизированная с ТЗ на конкурс"
                                   for="contest-file-special-prices-specification" class="small">Спецификация со спецценами</label>
                            <br />
                            <form style="display: inline-block" class="dropzone" id="contest-file-special-prices-specification">
                                <input type="button" class="btn dz-default dz-message upload-btn" value="Загрузить файл" />
                            </form>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group @(Model?.IsDvs == true ? "" : "required")">
                            <label title="Раскладка с расчетом всех рисков и условий"
                                   for="contest-file-updated-layout" class="small">Боевая раскладка</label>
                            <br />
                            <form style="display: inline-block" class="dropzone" id="contest-file-updated-layout">
                                <input type="button" class="btn dz-default dz-message upload-btn" value="Загрузить файл" @(Model?.IsDvs == true ? "" : "required") />
                            </form>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group @(Model?.IsDvs == true ? "" : "required")">
                            <label for="contest-file-contract-project" class="small">
                                Проект договора
                            </label>
                            <br />
                            <form style="display: inline-block" class="dropzone" id="contest-file-contract-project">
                                <input type="button" class="btn dz-default dz-message upload-btn" value="Загрузить файл" @(Model?.IsDvs == true ? "" : "required")/>
                            </form>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="contest-file-host-contest-application" class="small">
                                Конкурсная заявка
                                <a href="#"
                                   class="popover-cloud"
                                   data-toggle="popover"
                                   data-placement="top" title="Ссылка на Hostco cloud"
                                   data-trigger="click"
                                   data-html="true"
                                   data-popover-content="#contest-file-host-contest-application-cloud-popover">
                                    <i class="fa fa-cloud-upload fa-lg" aria-hidden="true"></i>
                                </a>
                            </label>
                            <div id="contest-file-host-contest-application-cloud-popover" class="cloud-link-block" style="display:none">
                                <div class="row">
                                    <div class="col-9">
                                        <input onchange="checkСloudLink(this);" onclick="this.select();"
                                               id="contest-file-host-contest-application-cloud"
                                               title="Тут должна быть ссылка на облако"
                                               class="form-control" />
                                    </div>
                                    <div class="col-3 pl-0 d-flex align-middle">
                                        <a class="btn btn-primary btn-sm btn-block h-100 save-cloud-link">
                                            <i class="fa fa-check fa-2x text-white" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <form style="display: inline-block" class="dropzone" id="contest-file-host-contest-application">
                                <input type="button" class="btn dz-default dz-message upload-btn" value="Загрузить файл" />
                            </form>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="contest-file-winning-protocol" class="small">
                                Протоколы результатов процедуры
                            </label>
                            <br />
                            <form style="display: inline-block" class="dropzone" id="contest-file-winning-protocol">
                                <input type="button" class="btn dz-default dz-message upload-btn" value="Загрузить файл" />
                            </form>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="contest-file-complains" class="small">
                                Жалобы
                            </label>
                            <br />
                            <form style="display: inline-block" class="dropzone" id="contest-file-complains">
                                <input type="button" class="btn dz-default dz-message upload-btn" value="Загрузить файл" />
                            </form>
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="additional-files" class="small" title="Дополнительные файлы">
                                Дополнительные файлы
                                <a href="#"
                                   class="popover-cloud"
                                   data-toggle="popover"
                                   data-placement="top" title="Ссылка на Hostco cloud"
                                   data-trigger="click"
                                   data-html="true"
                                   data-popover-content="#additional-files-contest-cloud-popover">
                                    <i class="fa fa-cloud-upload fa-lg" aria-hidden="true"></i>
                                </a>
                            </label>
                            <div id="additional-files-contest-cloud-popover" class="cloud-link-block" style="display:none">
                                <div class="row">
                                    <div class="col-9">
                                        <input onchange="checkСloudLink(this);" onclick="this.select();"
                                               id="additional-files-contest-cloud"
                                               title="Тут должна быть ссылка на облако"
                                               class="form-control" />
                                    </div>
                                    <div class="col-3 pl-0 d-flex align-middle">
                                        <a class="btn btn-primary btn-sm btn-block h-100 save-cloud-link">
                                            <i class="fa fa-check fa-2x text-white" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <form style="display: inline-block" class="dropzone additional-files d-inline">
                                <input type="button" class="btn dz-default dz-message d-inline upload-btn" value="Загрузить файл" />
                            </form>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group @(Model?.IsDvs == true ? "" : "required")">
                            <label for="contest-file-tkp" class="small" title="Ценовое/техническое предложение">
                                ТКП
                            </label>
                            <br />
                            <form style="display: inline-block" class="dropzone" id="contest-file-tkp">
                                <input type="button" class="btn dz-default dz-message upload-btn" value="Загрузить файл" @(Model?.IsDvs == true ? "" : "required") />
                            </form>
                        </div>
                    </div>

                </div>
            </fieldset>
        </div>
    </div>
</div>