@using CRM.UI.Utils.ViewUtils
@model CRM.UI.Models.DealViewModel

<div>
    @* /////////////////////////// files /////////////////////////////////////////// *@
    <div id="all-files-5" class="modal">
        <div class="modal-dialog animated" style="max-width:60% !important">
            <div class="modal-content" style="overflow: scroll;">

                <div class="modal-header">
                    <strong>Список файлов</strong>
                </div>

                <div class="row" id="files-content-5" style="padding:15px; align-items:center; justify-content: center;">

                </div>

                <div class="modal-footer">
                    <button class="btn btn-default" id="close" type="button" onclick="modal.close()">Закрыть</button>
                </div>

            </div>

        </div>
    </div>

    @* ////////////////////////////////////////////////////////////////////// *@

    <partial name="ServiceRequestPartial" model="3" />


    @*////////////*@
    <div class="row">
        <div class="col">
            <div class="row col">
                <div class="form-inline col-auto">
                    <label for="hint-contract-signed-step-probability" style="margin-right:1rem;">Вероятность  </label>
                    <input type="text" value="90%" class="form-control"
                           style="width:25%;"
                           id="hint-contract-signed-step-probability" readonly />
                </div>

                <div class="form-inline col-auto">
                    <label for="hint-contract-signed-step-is-probable" style="white-space:nowrap; margin-right:1rem;">Вероятная сделка</label>
                    <select class="form-control is-probable" id="hint-contract-signed-step-is-probable" style="width:11em;"></select>
                </div>

                <div class="form-inline col-auto status">

                    <label for="hint-contract-status" style="margin-right:1rem;">Статус сделки </label>


                    <input type="text" value="Активная" class="form-control deal-status"
                           id="hint-contract-status" readonly />
                </div>

                @if (Model != null && Model.IsClosed && Model.ClosureDate.HasValue)
                {
                    <div class="form-inline col-auto">
                        <label style="margin-right: 1rem;">Дата закрытия сделки</label>
                        <input readonly class="form-control" type="text" value="@(Model?.ClosureDate.GetValueOrDefault().ToShortDateString())" />
                    </div>
                }

                <div class="form-inline row col-auto put-off-and-close @(Model?.StepName == "Подписание контракта" ? "" : "d-none")">
                    <div class="col-auto">
                        <input id="put-off-deal" type="button" onclick="modalPutOff.open()" class="btn btn-primary put-off-deal" value="Отложить сделку">
                    </div>
                    <div class="">
                        <input onclick="acceptToCloseDeal()" type="button" style="display: none;" class="btn btn-primary accept-closing-deal" value="Согласовать закрытие сделки">
                    </div>
                    <div class="">
                        <input id="submit" onclick="reopenDeal()" type="button" style="display: none;" class="btn btn-primary reopen-deal" value="Возобновить сделку">
                    </div>
                    <div class="col">
                        <input type="button" onclick="modalFinishDeal.open();" class="btn btn-primary finish-deal" value="Потеря сделки">
                    </div>
                </div>
            </div>
            <fieldset class="tasks">
                <legend>Задачи текущего этапа</legend>
                <div class="row">
                    <div class="col-md-6 col-xl-3">
                        <div class="form-group row @(Model?.IsDvs == true ? "" : "required")">
                            <div class="col-2">
                                <label class="switch switch-3d switch-primary">
                                    <input id="hint-contract-signed-step-approve-project-with-vendor" @(Model?.IsDvs == true ? "" : "required")
                                           type="checkbox" class="switch-input" />
                                    <span class="switch-label"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                            <div class="col">
                                <label title="Согласовать проект договора внутри ГК ХОСТ и с Заказчиком"
                                       for="hint-contract-signed-step-approve-project-with-vendor">
                                    Согласовать<wbr /> проект<wbr /> договора
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-4">
                        <div class="form-group row @(Model?.IsDvs == true ? "" : "required")">
                            <div class="col-2">
                                <label class="switch switch-3d switch-primary">
                                    <input id="hint-contract-signed-step-check-signing-procedure-format" @(Model?.IsDvs == true ? "" : "required")
                                           type="checkbox" class="switch-input" />
                                    <span class="switch-label"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                            <div class="col">
                                <label title="Проверить формат процедуры подписания на ЭТП"
                                       for="hint-contract-signed-step-check-signing-procedure-format">
                                    Проверить<wbr /> формат<wbr /> процедуры<wbr /> подписания<wbr /> на ЭТП
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-3">
                        <div class="form-group row">
                            <div class="col-2">
                                <label class="switch switch-3d switch-primary">
                                    <input id="hint-contract-signed-step-get-and-pass-provision"
                                           type="checkbox" class="switch-input" />
                                    <span class="switch-label"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                            <div class="col">
                                <label for="hint-contract-signed-step-get-and-pass-provision">
                                    Получить<wbr /> и передать<wbr /> обеспечение
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-6 col-xl-3">
                        <div class="form-group row @(Model?.IsDvs == true ? "" : "required")">
                            <div class="col-2">
                                <label class="switch switch-3d switch-primary">
                                    <input id="hint-contract-signed-step-pass-claim-for-service" @(Model?.IsDvs == true ? "" : "required")
                                           type="checkbox" class="switch-input " />
                                    <span class="switch-label"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                            <div class="col">
                                <label title="Передать заявку на услуги (поставку оборудования или  на выполнение &#013;производственных работ), в том числе регистрация сервисных условий"
                                       for="hint-contract-signed-step-pass-claim-for-service">
                                    Создать заявку<wbr /> на услуги
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-4">
                        <div class="form-group row @(Model?.IsDvs == true ? "" : "required")">
                            <div class="col-2">
                                <label class="switch switch-3d switch-primary">
                                    <input id="hint-contract-signed-step-update-data-in-systems" @(Model?.IsDvs == true ? "" : "required")
                                           type="checkbox" class="switch-input " />
                                    <span class="switch-label"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                            <div class="col">
                                <label for="hint-contract-signed-step-update-data-in-systems">
                                    Актуализировать данные<wbr /> в системах
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-3">
                        <div class="form-group row @(Model?.IsDvs == true ? "" : "required")">
                            <div class="col-2">
                                <label class="switch switch-3d switch-primary">
                                    <input id="hint-contract-signed-step-format-sale-in-1c" @(Model?.IsDvs == true ? "" : "required")
                                           type="checkbox" class="switch-input" />
                                    <span class="switch-label"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                            <div class="col">
                                <label for="hint-contract-signed-step-format-sale-in-1c">
                                    Оформить продажу в 1С
                                </label>
                            </div>
                        </div>
                    </div>


                </div>
            </fieldset>
        </div>
    </div>

    <div class="row" style="align-items:start;">
        <div class="col">
            <div class="form-group required">
                <label for="hint-contract-signed-step-signing-date">Дата подписания контракта</label>
                <input type="text" class="form-control datepicker-here" required placeholder="дд.мм.гггг"
                       id="hint-contract-signed-step-signing-date" style="width:100%; height:2.5em;" />
            </div>
            <div class="form-group required">
                <label for="hint-contract-signed-step-closing-date">Дата закрытия контракта</label>
                <input type="text" class="form-control datepicker-here" required placeholder="дд.мм.гггг"
                       id="hint-contract-signed-step-closing-date" style="width:100%; height:2.5em;" />
            </div>
        </div>

        <div class="col">
            <div class="form-group required">
                <label title="Маржа по итогам предыдущего этапа"
                       for="hint-contract-signed-step-estimated-margin">Предполагаемая маржа</label>
                <input onkeydown="Auto(this)" onclick="this.select();"
                       id="hint-contract-signed-step-estimated-margin" required
                       class="form-control" />
            </div>

            <div class="form-group required">
                <label for="hint-contract-signed-step-expert-margin">Экспертная маржа</label>
                <input onkeydown="Auto(this)" required onclick="this.select();"
                       id="hint-contract-signed-step-expert-margin" class="form-control" />
            </div>
        </div>

        <div class="col">
            <div class="form-group required">
                <label for="hint-contract-signed-step-deal-amount">Сумма договора</label>
                <input style="width:100%;" onkeydown="Auto(this)" required onclick="this.select();"
                       id="hint-contract-signed-step-deal-amount" class="form-control" />
            </div>


            <div id="services-request" style="display:@(DealViewFunctions.GetStepNumber(Model?.StepName) > 4 ? "block" : "none")">
                <fieldset>
                    <legend>Заявка на услуги</legend>

                    <div class="row" style="justify-content: space-around;">
                        <a href="#" id="showModal" onclick="getServicesModal('3');" 
                           style="display:@(DealViewFunctions.GetCssVisibleClassesForCurrentStep("Подписание контракта", Model?.StepName, Model?.DealStatusName))"
                           class="btn btn-primary">Создать заявку</a>
                        <a class="btn view-service-deals-btn btn-primary @(Model?.ServiceRequestIds.Count > 0 ? "" : "d-none")" href="/Deals/ServicesRequests/@ViewBag.DealId" target="_blank">Просмотреть заявки</a>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <legend>
                    <input type="button" onclick="GetAllFiles(5)" class="btn btn-primary file-window" value="Прикрепленные файлы" />
                </legend>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label title="Актуальная версия договора со всеми приложениями"
                                   for="signed-file-contract-project-with-attachments" class="small">Проект договора</label>
                            <br />
                            <form style="display: inline-block" class="dropzone" id="signed-file-contract-project-with-attachments">
                                <input type="button" class="btn dz-default dz-message upload-btn" value="Загрузить файл" />
                            </form>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group @(Model?.IsDvs == true ? "" : "required")">
                            <label title="Скан подписанного контракта/архив с площадки/Диадок в pdf"
                                   for="signed-file-contract-scan" class="small">Скан утвержденного договора </label>
                            <br />
                            <form style="display: inline-block" class="dropzone" id="signed-file-contract-scan">
                                <input type="button" class="btn dz-default dz-message upload-btn" value="Загрузить файл" @(Model?.IsDvs == true ? "" : "required") />
                            </form>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group @(Model?.IsDvs == true ? "" : "required")">
                            <label title="Раскладка с учетом всех рисков и условий"
                                   for="signed-file-updated-layout" class="small"> Актуализированная раскладка</label>
                            <br />
                            <form style="display: inline-block" class="dropzone" id="signed-file-updated-layout">
                                <input type="button" class="btn dz-default dz-message upload-btn" value="Загрузить файл" @(Model?.IsDvs == true ? "" : "required") />
                            </form>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label title="По форме ОЛиУ"
                                   for="signed-file-supply-application" class="small" data-file-count="0">Спецификация по форме дистрибьютора </label>
                            <br />
                            <form style="display: inline-block" class="dropzone multiple-files" id="signed-file-supply-application">
                                <input type="button" class="btn dz-default dz-message upload-btn" value="Загрузить файл" />
                            </form>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label title="Если размещение по письму/протоколу и пр."
                                   for="basis-for-service-request" class="small">Основание заявки на услуги </label>
                            <br />
                            <form style="display: inline-block" class="dropzone" id="basis-for-service-request">
                                <input type="button" class="btn dz-default dz-message upload-btn" value="Загрузить файл" />
                            </form>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="additional-files" class="small" title="Дополнительные файлы">
                                Дополнительные файлы
                            </label>
                            <br />
                            <form style="display: inline-block" class="dropzone additional-files d-inline">
                                <input type="button" class="btn dz-default dz-message d-inline upload-btn" value="Загрузить файл" />
                            </form>
                        </div>
                    </div>

                </div>

            </fieldset>
        </div>
    </div>
</div>