
@{
    ViewData["Name"] = "ServiceRequestPartial";
}

@model int

    <div id="@("modal" + Model)" class="modal">
        <div class="modal-dialog animated">
            <div class="modal-content">

                <div class="modal-header">
                    <strong>Заявка на услуги</strong>
                </div>

                <div class="modal-body row" style="justify-content:flex-end; padding-bottom: 0;">
                    <p id="@("model-step-date" + Model)" style="padding-right: 15px;"> </p>
                </div>


                <div class="row" style="padding:15px">
                    <div class="modal-body col-md-6" style="padding-top: 0;">
                        <label for="@("model-step-product-unit" + Model)">Производственный отдел<span class="redColor">*</span></label>
                        <br />
                        <select class="form-control" style="width:100%; height:2.5em;" id="@("model-step-industrial-unit" + Model)" multiple="multiple"></select>
                        <div class="invalid-feedback">
                            Добавьте хотя бы 1 производственный отдел
                        </div>
                    </div>

                    <div class="form-group col-md-6" style="padding-top: 0;">
                        <label for="@("model-step-another-responsible" + Model)">Добавить участников</label>
                        <br />
                        <select class="form-control" style="width:100%; height:2.5em;" id="@("model-step-another-responsible" + Model)" multiple="multiple"></select>
                        <div class="invalid-feedback">
                            Добавьте хотя бы 1 участника
                        </div>
                    </div>
                </div>

                <div class="row" style="padding:15px">
                    <div class="modal-body col-md-3" style="padding-top: 0;">
                        <label for="@("model-step-contract-number" + Model)">Номер договора<span class="redColor">*</span></label>
                        <br />
                        <input class="form-control" style="width:100%; height:2.5em;" id="@("model-step-contract-number" + Model)" />
                    </div>

                    <div class="form-group col-md-3" style="padding-top: 0;">
                        <label for="@("model-step-contract-date" + Model)">Дата договора</label>
                        <input type="text" class="form-control datepicker-here" placeholder="дд.мм.гггг"
                               id="@("model-step-contract-date" + Model)" style="width:100%; height:2.5em;" />
                    </div>

                    <div class="form-group col-md-3" style="padding-top: 0;">
                        <label for="@("model-step-score-number" + Model)">Номер заказа клиента в 1С:КА<span class="redColor">*</span></label>
                        <br />
                        <input class="form-control" style="width:100%; height:2.5em;" id="@("model-step-score-number" + Model)" />
                        <div class="invalid-feedback">
                            Заполните хотя бы одно основание для заявки
                        </div>
                    </div>

                    <div class="form-group col-md-3" style="padding-top: 0;">
                        <label for="@("model-step-document-for-service" + Model)">Иное основание / документ</label>
                        <br />
                        <input class="form-control" style="width:100%; height:2.5em;" id="@("model-step-document-for-service" + Model)" />
                    </div>

                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="@("model-step-services" + Model)" class="control-label col-xs-4">Условия размещения заказа<span class="redColor">*</span></label>
                        <div class="input-group col-xs-7">
                            <textarea class="form-control" style="min-height:13rem;" id="@("model-step-services" + Model)"></textarea>
                            <div class="invalid-feedback">
                                Заполните условия размещения заказа
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="@("model-step-important-condition" + Model)" class="control-label col-xs-4">Прочие важные условия</label>
                        <div class="input-group col-xs-7">
                            <textarea class="form-control" style="min-height:7rem;" id="@("model-step-important-condition" + Model)"></textarea>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">

                    <div class="row" style="justify-content:center">
                        <label id="@("error" + Model)" style="visibility:hidden;"><span class="redColor">Заполните необходимые поля</span></label>
                        <label id="@("errorDocument" + Model)" style="visibility:hidden;"><span class="redColor">Документ не прикреплен к сделке</span></label>
                    </div>

                    <button class="btn download-btn create-request-button" type="button" onclick="saveServicesRequest(@Model, false)" ondblclick="saveServicesRequest(@Model, false)">Сохранить заявку</button>
                    <button class="btn btn-default" id="@("close" + Model)" type="button" onclick="modal.close()">Отменить</button>
                    <button class="btn download-btn create-request-button" style="background:#ff6a00;" type="button" onclick="saveServicesRequest(@Model, true)" ondblclick="saveServicesRequest(@Model, true)">Старт заявки</button>
                </div>

            </div>
        </div>
    </div>