@{
    ViewData["Name"] = "ServicesRequest";
    var laboriousness = 0.00;
    var isProjectDepExists = false;
    var olResponsibleNeedToAnswer = false;
    var olResponsibleNeedToComplete = false;
    var olFieldsAreOpened = false;
    var olExecutionDate = "";
    var olFactDate = "";

    void CheckLaboriousnessAndOlFields(AnswersForServicesRequest answer)
    {
        if (answer.Department.Name == "Проектный отдел" && answer.Laboriousness.HasValue)
        {
            laboriousness = (double)answer.Laboriousness;
            isProjectDepExists = true;
        }

        if (answer.Department.Name == "ОЛ" && answer.Laboriousness.HasValue && !isProjectDepExists)
        {
            laboriousness = (double)answer.Laboriousness;
            if (answer.ResponsiblesForAnswers.Any(r => r.ResponsibleUser.Login.ToLower() == User.Identity.Name.ToLower()))
            {
                if (!answer.IsAccepted)
                {
                    olResponsibleNeedToAnswer = true;
                }
                else if (!answer.IsFinished)
                {
                    olFieldsAreOpened = true;
                    olExecutionDate = answer.ResponsibleAcceptDate.HasValue ?
                        answer.ResponsibleAcceptDate.Value.ToString("yyyy-MM-dd") : "";
                    olResponsibleNeedToComplete = true;
                }
                else
                {
                    olFieldsAreOpened = true;
                    olExecutionDate = answer.ResponsibleAcceptDate.HasValue ?
                        answer.ResponsibleAcceptDate.Value.ToString("yyyy-MM-dd") : "";
                    olFactDate = answer.ResponsibleFinishDate.HasValue ?
                        answer.ResponsibleFinishDate.Value.ToString("yyyy-MM-dd") : "";
                }
            }
        }
    }
}

@using System.Globalization
@using CRM.Data.Models
@model CRM.Data.Models.ServicesRequest
<script>
    function Auto(e) {
        $(e).autoNumeric('init', { aSign: ' чел/ч', aSep: ' ', aDec: ',', vMin: '0' });
    }
</script>
<div class="animated fadeIn">
    <div id="services-request" class="card">
        <div class="card-body">
            <div class="col">
                <div class="col">
                    <div class="row justify-content-between" style="padding-bottom: 0;">
                        <div class="col">
                            <a href="/Deals/Deal/@Model.DealId" class="font-weight-bold" target="_blank">Ссылка на сделку</a>
                        </div>
                        <div class="col d-flex justify-content-end">
                            <p id="preparation-date" style="padding-right: 15px;">Дата создания: @(Model.CreationDate.HasValue ? Model.CreationDate.Value.ToString("dd.MM.yyyy HH:mm") : "")</p>
                        </div>
                    </div>


                    <div class="row" style="padding:15px">
                        <div class="modal-body col-md-6" style="padding-top: 0;">
                            <label for="industrial-units">Производственный отдел<span class="redColor">*</span></label>
                            <br />
                            <select @(Model.IsStarted ? "disabled" : "") class="form-control" style="width:100%; height:2.5em;" id="industrial-units" multiple="multiple"></select>
                        </div>

                        <div class="form-group col-md-6" style="padding-top: 0;">
                            <label for="another-responsibles">Добавить участников</label>
                            <br />
                            <select @(Model.IsStarted ? "disabled" : "") class="form-control" style="width:100%; height:2.5em;" id="another-responsibles" multiple="multiple"></select>
                        </div>
                    </div>

                    <div class="row" style="padding:15px">
                        <div class="modal-body col-md-3" style="padding-top: 0;">
                            <label for="contract-number">Номер договора<span class="redColor">*</span></label>
                            <br />
                            <input @(Model.IsStarted ? "disabled" : "") class="form-control" style="width:100%; height:2.5em;" id="contract-number" value="@Model.ContractNumber" />
                        </div>

                        <div class="form-group col-md-3" style="padding-top: 0;">
                            <label for="contract-date">Дата договора</label>
                            <input type="text" class="form-control" required placeholder="дд.мм.гггг"
                                   @(Model.IsStarted ? "disabled" : "") id="contract-date" style="width:100%; height:2.5em;" />
                        </div>

                        <div class="form-group col-md-3" style="padding-top: 0;">
                            <label for="score-number">Номер заказа клиента в 1С:КА<span class="redColor">*</span></label>
                            <br />
                            <input @(Model.IsStarted ? "disabled" : "") class="form-control" style="width:100%; height:2.5em;" id="score-number" value="@Model.ScoreNumber" />
                        </div>

                        <div class="form-group col-md-3" style="padding-top: 0;">
                            <label for="document-for-service">Иное основание / документ</label>
                            <br />
                            <input @(Model.IsStarted ? "disabled" : "") class="form-control" style="width:100%; height:2.5em;" id="document-for-service" value="@Model.DocumentForService" />
                        </div>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="services" class="control-label col-xs-4">Условия размещения заказа<span class="redColor">*</span></label>
                            <div class="input-group col-xs-7">
                                <textarea @(Model.IsStarted ? "disabled" : "") class="form-control" style="min-height:13rem;" id="services">@Model.Service</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="important-condition" class="control-label col-xs-4">Прочие важные условия</label>
                            <div class="input-group col-xs-7">
                                <textarea @(Model.IsStarted ? "disabled" : "") class="form-control" style="min-height:7rem;" id="important-condition">@Model.AnotherImportantConditions</textarea>
                            </div>
                        </div>
                    </div>

                    @if (Model.IsStarted)
                    {
                        <div style="padding: 15px;" id="table-units-block">
                            <table style="width: 100%; font-size: 14px; text-align: center; font-family: Verdana;" id="table-units" class="table">
                                <tr style="font-size: 15px;">
                                    <th style="width: 13rem;">Производственный отдел</th>
                                    <th style="width: 20rem;">МП / Ответственный</th>
                                    <th style="width: 17rem;">Дата исполнения обязательств</th>
                                    <th>Комментарии</th>
                                </tr>
                                @for (var i = 0; i < Model.IndustrialUnitServicesRequests.Count; i++)
                                {
                                    var answer = Model.AnswersForServicesRequests.FirstOrDefault(a => a.DepartmentId == Model.IndustrialUnitServicesRequests[i].IndustrialUnitId);
                                    if (answer != null)
                                    {
                                        CheckLaboriousnessAndOlFields(answer);

                                        var isManagerOfDepartment = answer.Department.Manager.Login.ToLower() == User.Identity.Name.ToLower() ||
                                                                    answer.Department.Manager.Manager.Login.ToLower() == User.Identity.Name.ToLower();

                                        var responsibleIds = answer.ResponsiblesForAnswers.Select(r => r.ResponsibleUserId).ToArray();

                                        var comment = "";
                                        if (answer.Comment != null)
                                            comment = answer.Comment.Replace("\n", " ").Replace("\r", " ").Replace("\t", " ").Replace("\"", "\\\"");

                                        <tr id="@(answer.Id)" class="@(isManagerOfDepartment ? "managedDepartment" : "")"
                                            onclick='loadDataAndOpenModal("@answer.Department.Name", @Html.Raw(Json.Serialize(responsibleIds)), "@answer.ExecuteDate.ToString("d", new CultureInfo("en-US"))", "@comment", "@answer.Id")'>
                                            <th class='departmentName' style="font-size: 15px; width: 13rem;">@answer.Department.Name</th>
                                            <td class='responsibleNames' style="width: 20rem;">@answer.ResponsiblesForAnswers.Aggregate("", (str, res) => str + res.ResponsibleUser.DisplayName)</td>
                                            <td class='executeDate' style="width: 17rem;">@(answer.ExecuteDate.ToString("yyyy-MM-dd"))</td>
                                            <td class='comment'>@(answer.Comment ?? "")</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <th style="font-size: 15px; width: 13rem;">@Model.IndustrialUnitServicesRequests[i].IndustrialUnit.Name</th>
                                            <td style="width: 20rem;">—</td>
                                            <td style="width: 17rem;">—</td>
                                            <td>—</td>
                                        </tr>
                                    }
                                }
                            </table>
                            <div class="row" style="justify-content: flex-end; padding-bottom: 0;">
                                <p id="total-laboriousness" data-total-laboriousness="@laboriousness"
                                   style="padding-top: 10px; padding-right: 15px; font-size: 15px; font-weight: bold; font-family: Verdana;">Общая трудоемкость: @(laboriousness == 0.00 ? "—" : laboriousness + " чел/ч")</p>
                            </div>
                        </div>
                    }

                    @if (olFieldsAreOpened)
                    {
                        <div class="row">
                            <div id="ol-name-block" class="form-group col-md-12">
                                <b>ОЛ:</b>
                            </div>

                            <div id="execution-date" class="form-group col-md-3">
                                <label for="execution-date-value">
                                    Планируемая дата поставки
                                </label>
                                <br />
                                <input disabled type="date" value="@olExecutionDate" id="execution-date-value" style="width: 100%; height: 2.5em;"
                                       class="form-control" />
                            </div>
                            @if (olResponsibleNeedToComplete)
                            {
                                <div id="execute-block" class="form-group col-md-3">
                                    <label></label>
                                    <button class="btn download-btn mt-2" style="background: #ff6a00;" type="button" onclick="AcceptOrFinishAnswerRequest(Date.now(), 'ОЛ');">Выполнена</button>
                                </div>
                            }
                            else
                            {
                                <div id="fact-execution-date" class="form-group col-md-3">
                                    <label for="fact-execution-date-value">
                                        Фактическая дата поставки
                                    </label>
                                    <br />
                                    <input disabled type="date" value="@olFactDate" id="fact-execution-date-value" style="width: 100%; height: 2.5em;"
                                           class="form-control" />
                                </div>
                            }
                        </div>
                    }
                    @if (olResponsibleNeedToAnswer)
                    {
                        <div id="answer" class="form-group">
                            <div class="row" style="align-items: flex-end; align-content: flex-end;">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="answer-execution-date">
                                            Дата исполнения
                                        </label>
                                        <br />
                                        <input id="answer-execution-date" type="date" style="width: 100%; height: 2.5em;" placeholder="дд.мм.гггг" />
                                    </div>
                                </div>
                                <div class="col" style="margin-bottom: 6px;">
                                    <input type="button" onclick="AcceptOrFinishAnswerRequest($('#answer-execution-date').val(), 'ОЛ')" class="btn btn-primary" value="Принять заявку">
                                </div>
                            </div>
                        </div>
                    }

                    @if (ViewBag.CanPointMp)
                    {
                        <div id="answer-fields">
                            <div class="row" style="padding: 15px">
                                <div class="modal-body col-md-4" style="padding-top: 0;">
                                    <label for="user-unit">Отдел</label>
                                    <br />
                                    <select class="form-control" style="width: 100%; height: 2.5em;" id="user-unit"></select>
                                </div>
                            </div>

                            <div class="row" style="padding: 15px">
                                <div class="form-group col-md-4" style="padding-top: 0;">
                                    <label for="add-mp">Добавить МП/Ответственного</label>
                                    <br />
                                    <select multiple="multiple" class="form-control"
                                            id="add-mp" style="width: 100%; height: 2.5em;"></select>
                                </div>

                                <div class="form-group col-md-4" style="padding-top: 0;">
                                    <label for="execute-date">Дата исполнения обязательств<span class="colorStar">*</span></label>
                                    <br />
                                    <input id="execute-date" type="text" style="width: 100%; height: 2.5em;" class="datepicker-here form-control" placeholder="дд.мм.гггг" />
                                </div>

                                <div class="form-group col-md-4" style="padding-top: 0;">
                                    <label for="laboriousness">Трудоемкость</label>
                                    <br />
                                    <input onkeydown="Auto(this)" class="form-control" style="width: 100%; height: 2.5em;" id="laboriousness" />
                                </div>
                            </div>

                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="comments" class="control-label col-xs-4">Комментарии</label>
                                    <div class="input-group col-xs-7">
                                        <textarea class="form-control" style="min-height: 13rem;" id="comments"></textarea>
                                    </div>
                                </div>
                            </div>



                            <div class="col" style="padding: 15px">
                                <div class="row" style="justify-content: center; padding: 5px; font-size: 18px;">
                                    <a id="error" style="color: red; display: none; padding-left: 5px; text-align: center;">Заполните необходимые поля!</a>
                                </div>

                                <div class="row" style="justify-content: flex-end; padding: 15px;">
                                    <input id="accept-request" type="button" class="btn btn-primary" value="Принять заявку" onclick="SaveAnswer();">
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <br />
                @if (!Model.IsStarted)
                {
                    <div class="row justify-content-end p-2">
                        <input id="save" type="button" onclick="SaveNotStartedRequest(false);" class="btn download-btn m-1" value="Сохранить">
                        <input id="start-this-request" type="button" onclick="SaveNotStartedRequest(true);" class="btn download-btn m-1" style="background: #ff6a00" value="Старт заявки">
                        <a id="error-for-start" style="color: red; display: none; padding-left: 5px; text-align: center;">Заполните необходимые поля!</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@if (Model.IsStarted)
{
    <div id="modal-change-unit" class="modal">
        <div class="modal-dialog little-dialog">
            <div class="modal-content">
                <div class="row m-2 d-flex justify-content-center">
                    <div class="form-group col-10 text-center font-weight-bold mb-3" id="unit-name" style="padding-top: 0;">

                    </div>

                    <div class="form-group col-md-10 text-center" style="padding-top: 0;">
                        <label for="responsible-mp-new">Ответственный/МП</label>
                        <br />
                        <select class="form-control rounded" style="width: 100%; height: 2.5em;" id="responsible-mp-new" multiple="multiple"></select>
                    </div>

                    <div class="form-group col-md-10 text-center" style="padding-top: 0;">
                        <label for="execute-date-new">Дата исполнения обязательств</label>
                        <br />
                        <input id="execute-date-new" type="text" style="width: 100%; height: 2.5em;" class="datepicker-here form-control rounded" placeholder="дд.мм.гггг" />
                    </div>

                    <div class="form-group col-md-10 text-center" style="padding-top: 0;">
                        <label for="comments-new">Комментарии</label>
                        <br />
                        <textarea class="form-control rounded" style="min-height: 13rem;" id="comments-new"></textarea>
                    </div>

                    <div class="form-group col-md-10 text-center" style="padding-top: 0;">
                        <label for="laboriousness-new">Трудоемкость</label>
                        <br />
                        <input onkeydown="Auto(this)" onclick="this.select();" class="form-control" style="width: 100%; height: 2.5em;" id="laboriousness-new" />
                    </div>
                </div>
                <div class="escape m-1 d-flex justify-content-center">
                    <button id="changeAnswerInfo" type="button" class="btn btn-primary rounded mr-1">Изменить</button>
                    <button type="button" class="btn btn-classic rounded" onclick="changeUnitModal.close();">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts
{
    <script src="~/lib/select2/select2.min.js"></script>
    <script type="text/javascript" src="~/lib/datepicker/js/datepicker.min.js"></script>
     
    <script>
        const True = true;
        const False = false;
        const canPointMp = @ViewBag.CanPointMp;
        var serviceRequest = @Html.Raw(Json.Serialize(Model));

        $('.datepicker-here').each(function () {
            $(this).keypress(function () {
                return false;
            });
            $(this).attr("autocomplete", "off");
        });

        function getNumberFromCurrency(value) {
            if (value === "" || value === 0)
                return 0;

            return Number(value.replace(/[^0-9,.\-]+/g, "").replace(",", ".").replace("чел/ч", "").replace(" ", ""));
        }
    </script>

    <script src="~/js/ServicesRequest/loadInfo.js" asp-append-version="true"></script>

    @if (Model.IsStarted)
    {
        <script src="~/js/ServicesRequest/changeUnit.js" asp-append-version="true"></script>
    }


    <script src="~/js/ServicesRequest/acceptRequest.js" asp-append-version="true"></script>

    <script src="~/js/ServicesRequest/AnswerOnServiceRequest.js" asp-append-version="true"></script>
    <script src="~/js/ServicesRequest/saveNotStartedRequest.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-loading-overlay-1.6.0/loadingoverlay.js" type='text/javascript'></script>
    <script type="text/javascript" src="https://unpkg.com/rmodal/dist/rmodal.js">
    </script>

    @if (ViewBag.CanPointMp)
    {
        <script>
            var answerExecutionDatePicker = $('#execute-date').datepicker({
                todayButton: new Date(),
                autoClose: true,
                dateFormat: 'yyyy-mm-dd'
            });

            var answerExecutionDatePickerData = answerExecutionDatePicker.datepicker().data('datepicker');
        </script>
    }

    <script src="~/lib/autonumeric/autoNumeric-2.0-BETA.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
}

@section Styles {
    <link href="~/lib/select2/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/datepicker/css/datepicker.min.css" type="text/css" />
    <link rel="stylesheet" href="~/lib/rmodal/animate.css" type="text/css" />
    <link rel="stylesheet" href="~/lib/rmodal/rmodal.css" type="text/css" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta charset="UTF-8" />

    <style>
        /* todo: перенести стили в .scss */
        table {
            border: 1px solid #000;
            border-collapse: collapse;
        }

        th, td {
            border: 3px solid #abbbc3;
        }

        .required-field-group-highlighted {
            outline: 2px solid red;
            padding: 2px;
        }

        .form-control:disabled, .form-control[readonly],
        input[type="checkbox"]:disabled + span + span.switch-handle {
            background-color: #eee !important;
        }

        #form-summary select {
            width: 100%
        }
            /* This is to remove the arrow of select element in IE */
            #form-summary select::-ms-expand {
                display: none;
            }

        #form-summary select {
            -webkit-appearance: none;
            /*appearance: none;*/
        }

        .managedDepartment:hover {
            cursor: pointer
        }

        #edit-request {
            display: none;
        }

        .download-btn {
            text-align: center;
            font-size: 13px;
            color: #fff;
            text-decoration: none;
            font-weight: 500;
            padding: 3px 6px;
            background: #20a8d8;
            display: block;
            width: 120px;
            border-radius: 3px;
            box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7);
            cursor: pointer !important;
        }

        .colorStar {
            color: red;
        }
    </style>
}
